fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary

python-dotenv
pydantic-settings

python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

python-multipart

google-genai

email-validator
pydantic[email]
pypdf
PyMuPDF==1.26.3